body {
  font-family: "PT Mono", monospace;
}
.card {
  border-radius: 20px;
  background-color: rgba(142, 197, 222, 0.49);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.card-title {
  font-size: xx-large;
  font-weight: 900;
  color: black;
}
a {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
